<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <title>DPendulum</title>
</head>
<body>
  <!-- Header -->
  <div id="header" style="width: 75%; margin: 0 auto; background-color: white; border-bottom:3px solid black; position: relative">
    <div id="dat-canvas-div" style="display:inline-block; width: 25%">
      <canvas id="dat-canvas" width="0" height="0"></canvas>
    </div>
    <div style="display:inline-block; width: 50%; font-size: 2.0em">
      Under Construction, Check Back Later...
    </div>
    <div style="display:inline-block; width: 20%; text-align: right; position: absolute; bottom: 0">
    </div>
    <div style="display:inline-block; width: 5%"></div>
  </div>
  <!-- Header -->
  <!-- Content -->
  <div style="width: 75%; margin: 0 auto; padding:10px 0px 20px 0px; font-size: 1.1em">
    <div style="margin-left: -20px; margin-right: -20px">
      <div style="display: table; border-spacing: 20px 0; width: 100%">
	<!-- Articles -->
	<div style="display: table-cell; width: 77%; border-right: 1px solid #e2e2e2">
	  {{range .RecentPosts}}
	  <div style="height: 30em; width: 100%; border-bottom: 1px solid #e2e2e2">
	    <a href="/posts/{{.ID}}" style="height: 10%; margin-bottom: 0; font-size: 2.2em; font-weight: 900; font-style: italic; text-decoration: none; color: inherit"
	       onmouseover="this.style.textDecoration='underline';"; onmouseout="this.style.textDecoration='none';">{{.Title}}</a>
	    <div style="height: 6%; margin-top: 0; margin-bottom: 0; color: #999">posted at {{.Date}}</div>
	    <div style="height: 83%; width: 100%; overflow: hidden; text-overflow: ellipsis">{{.Content}}</div>
	  </div>
	  {{end}}
	</div>
	<!-- Articles -->
	<!-- SideBar -->
	<div style="display: table-cell; width: 23%;">
	  <div>
	    <h2 style="margin: 0; text-align: center">Recent Posts</h2>
	    {{range .RecentPosts}}
	    <div style="padding: 0.3em 0 0.3em 0; border-top: 1px solid #e2e2e2">
	      {{.Title}}
	    </div>
	    {{end}}
	  </div>
	  <h2 style="margin: 0; text-align: center">Archives</h2>
	</div>
	<!-- SideBar -->
      </div>
    </div>
  </div>
  <!-- Content -->
  <!-- Footer -->
  <div style="width: 75%; margin: 0 auto; border-top: 1px solid #e2e2e2; padding: 7px 0 70px 0">
    <div style="float: left; border-right: 1px solid #e2e2e2; padding-right: 7px">
      Copyright © 2015  Yang Chen
    </div>
    <div style="float: left; padding-left: 7px">
      <a href="mailto:yngccc@gmail.com" style="color: inherit; text-decoration: none" onmouseover="this.style.textDecoration='underline';"; onmouseout="this.style.textDecoration='none';">Contact me</a>
    </div>
  </div>
  <!-- Footer -->
</body>
<script src="javascripts/index.js"></script>
</html>
